/* Full screen gradient background */
.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #8e2de2, #ff416c);
}

/* Login Card */
.login-card {
  background: white;
  padding: 40px;
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Input fields */
.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-bottom: 2px solid #ff416c;
}

/* Button */
button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #8e2de2, #ff416c);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  opacity: 0.9;
}

/* Signup text */
.signup-text {
  margin-top: 15px;
  font-size: 14px;
}

.signup-text a {
  color: #ff416c;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}
.flex{
    display: flex;
}
.items-center{
  align-items: center;
}
.justify-center{
    justify-content: center;
}