.Daskbord {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

/* SIDEBAR */
.Sidebar {
  width: 220px;
  background: rgb(137, 134, 134);
  color: white;
  padding: 20px;
}
.Sidebar ul {
  list-style: none;
  padding: 0;
}

.Sidebar li {
  padding: 20px;
  cursor: pointer;
}

.Sidebar li:hover {
  opacity: 0.8;
}

.Logo {
  margin: bottom 20px;;
}



/* MAIN */
.main {
  flex: 1;
  padding: 30px;
  background: #f5f7fb;
  overflow-y: auto;
   align-items: flex-start;
}

/* PROFILE CARD */
.profile-card {
  background: white;
  display: flex;
  flex-direction:column;
  padding: 25px;
  width: 80%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.profile-card {
  background: white;
  width: 600px;
  margin: 30px auto;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  overflow: hidden;
  padding-bottom: 20px;
}

/* Profile Top Section */
.profile-cover {
  background: rgb(201, 184, 184);
  padding: 30px;
  text-align: center;
}

.cover-img {
  width: 130px;
  align-items: center;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  border: 4px solid white;
  margin-bottom: 10px;
}

/* Profile Info */
.profile-info {
  padding: 25px 35px;
}

.profile-info h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #333;
}

/* Info Rows */
.info-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
}

.info-row span {
  font-weight: 600;
  color: #444;
}

.info-row p {
  margin: 0;
  color: #666;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.home-img {
  width: 100px;
  height: 20px;
  object-fit: cover;
  border-radius: 10px;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 20px;
}

.image-card {
  position: relative;
}

.home-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background:black;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
